# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment files
*.env
.venv/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db